img {
        width: 50%;
        max-width: 200px;
    }
.rating {
        color: #593D88;
        font-size: 0.8rem;
    }
.title {
        font-size: 1.1rem;
        margin: 0.6rem 0;
    }

.price {
        font-weight: bold;
    }
.btn {
            background-color: #593D88;
            color: #ddd;
            width: 100%;
            margin-top: 1rem;
            padding: 0.6rem 0;
            font-size: 1rem;
            transition: all 0.2s ease;
}
.btn:hover{
  background-color: skyblue;
}
.card{
  padding:0px;
  margin:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-header{
  border-bottom: 0;
  transition: transform .2s;
}
.card-header:hover {
  -ms-transform: scale(1.4); /* IE 9 */
  -webkit-transform: scale(1.4); /* Safari 3-8 */
  transform: scale(1.4);
}
.card-footer{
  border-top: 0;
}
