.footer{
  background-color: skyblue;
  margin-bottom: 0;
}
.footer-info{
  color: white;
  font-weight: bold;
  margin:0;
}
a{
  text-decoration: none;
  color: white;
  font-size: 10px;
}
p{
  margin:0;
  font-size: 20px;
}
